{{ if .Site.Params.enforceSinglePage -}}
<meta http-equiv="refresh" content="0; url={{ .Site.BaseURL }}">
{{- else -}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body>
{{ partial "body-top" . }}
<main>
  <section class="blog" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-xs-12"><h1>{{ humanize .Type }}</h1></div>
      </div>
      <article class="row">
        {{ .Content }}
      </article>
      <div class="row">
        <div class="col-xs-12 posts-list">
          {{ range .Data.Pages }}
          <article>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <span>{{ .Description }}</span>
            <div class=sub-header>
              {{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }} · {{ i18n "minuteRead" .ReadingTime }}
            </div>
            <div style="padding-top: 20px">
              <!-- space -->
            </div>
          </article>
          {{ end }}
        </div>
      </div>
    </div>
  </section>

</main>
{{ partial "footer.html" . }}
{{ partial "body-bottom" . }}
</body>
</html>
{{- end }}