{{ if .Site.Params.enforceSinglePage -}}
<meta http-equiv="refresh" content="0; url={{ .Site.BaseURL }}">
{{- else -}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "body-top" . }}
    <main>

      <section class="container">
        <section class="content">
          <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>

            <div class="sub-header">
              {{ .Params.sub }}
            </div>

          <article class="entry-content">
            {{ .Content }}
          </article>

        </section>
        <br>
        {{ if .Site.DisqusShortname -}}
        {{ partial "disqus" . }}
        {{- end }}
      </section>

    </main>
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
  </body>
</html>
{{- end }}