<div style="display: flex; align-items: center; justify-content: left">
        <div>
            <img src="/images/kris-nova.jpeg" width="600px">
        </div>
        <div style="padding-left: 100px">
            <p>
                Founder and CEO of The Privilege Escalation Foundation. She is a <strong>transgender</strong> computer scientist with a passion for knowledge.
            </p>
            <p>
                She is an <strong>author</strong>, <strong>distinguished engineer</strong>, and <strong>transgender rights advocate</strong> best known for her work in Kubernetes, Linux, cyber security and cloud infrastructure.
            </p>
        </div>
</div>